* {
    margin: 0;
    padding: 0;
}

body{
    width: 508px;
    height: 286px;
    background: #E5E5E5;
}

.cleanfix{
    padding-top: 73px;
    padding-left: 191px;
    width: 126px;
    height: 141px;
    background: #FFFFFF;
}

.photo{
    height: 86px;
    background: url(images/image1.png) no-repeat contain;
}

.first{
    position: absolute;
    left: 201px;
    top: 174px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center; 
}

.second{
    position: absolute;
    left: 228px;
    top: 197px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}
